{% include "header.html" %}

<h1>Update Password</h1>

{% if error %}
<p style="color: red">{{ error}}</p>
{% endif %}

<form action="/updatepassword" method="POST">
  <div>Old Password</div>
  <input type="password" name="oldpassword" />
  <div>New Password</div>
  <input type="password" name="newpassword" />

  <div>Confirm New Password</div>
  <input type="password" name="confirmpassword" />

  <div>
    <input type="submit" value="Update Password" />
  </div>
</form>

{% include 'footer.html' %}
